<div id="login">
  <%= form_for @changeset, chat_path(@conn, :create), [class: "userForm"], fn f -> %>
    <label>
      Username <%= text_input f, :username %>
    </label>
    <%= submit "Submit" %>
  <% end %>
</div>
